body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 50px 1fr;
}

a {
  color: #1c1e22;
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: "Roboto Mono", monospace;
  margin: 20px 0;
}

.qcode {
  background-color: #e6e9ed;
  color: #1c1e22;
  font-family: "Roboto Mono", monospace;
  border: 1px solid #ccd1d9;
  border-radius: 5px;
  font-size: 14px;
  padding: 15px 20px;
}

.social {
  background-color: #48cfad;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 60px;
}
.social__icon {
  color: #fafafa;
}

.nav-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fafafa;
}
.nav-menu__logo img {
  width: 220px;
  margin-top: 10px;
  margin-left: 10px;
}
.nav-menu__about-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 100px;
  font-weight: bold;
  font-size: 18px;
}
.nav-menu__about-link a {
  border-bottom: 1px solid #1c1e22;
}

.body-fixed {
  position: fixed;
}

.main-home {
  height: 100%;
  text-align: center;
  background-image: url("../assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10%;
}
.main-home__titulo {
  font-size: 40px;
  color: #fafafa;
  letter-spacing: 0.1em;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}
.main-home__boton {
  color: #1c1e22;
  background-color: #48cfad;
  padding: 10px 15px;
  font-size: 1.3em;
  border-radius: 5px;
}

.blog {
  max-width: 1440px;
  margin: auto;
}
.blog__titulo, .article__news {
  border-bottom: 1px solid #ccd1d9;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1em;
  margin-top: 2em;
  text-align: center;
}
.blog__boton {
  border: 2px solid #48cfad;
  padding: 5px 20px;
  margin-top: 1em;
}
.blog-principal {
  background-color: #e6e9ed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 30px 30px 30px;
}
.blog-principal__imagen {
  text-align: center;
}
.blog-principal__imagen img {
  max-width: 400px;
}
.blog-principal__texto {
  align-self: center;
  font-size: 1.2em;
}
.blog-principal__texto p {
  margin-bottom: 2em;
}
.blog-lista {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 30px 30px 60px;
}
.blog-lista-item {
  padding-bottom: 10px;
}
.blog-lista-item__img-container {
  text-align: center;
}
.blog-lista-item__imagen {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}
.blog-lista-item__texto {
  margin-bottom: 25px;
}

.footer {
  background-color: #1c1e22;
  border-top: 50px solid #48cfad;
}
.footer p {
  color: #fafafa;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article__cover {
  text-align: center;
}
.article__cover img {
  object-fit: cover;
  height: 450px;
  width: 90%;
}
.article__news {
  text-align: initial;
}
.article__title {
  font-size: 2em;
  margin-bottom: 1em;
}
.article__contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #e6e9ed;
  height: 200px;
  padding: 0 100px;
}
.article__contact-mail {
  display: flex;
  align-items: center;
  justify-content: center;
}
.article__contact-mail img {
  height: 120px;
}
.article__contact-mail-text {
  margin: 0 30px;
}
.article-container {
  align-self: center;
  width: 70%;
  margin-bottom: 50px;
}

.bio {
  background-color: #e6e9ed;
  padding: 50px;
  display: flex;
}
.bio__imagen img {
  height: 250px;
  border-radius: 50%;
}
.bio__texto {
  margin: 50px;
}

.proyectos {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
}
.proyectos__item {
  padding: 20px;
  margin-bottom: 50px;
}

.link {
  font-family: "Roboto Mono", monospace;
  font-size: 1.2em;
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
