@media only screen and (max-width: 820px) {
  .article {
    &__contact {
      display: block;
      height: auto;
      &-mail {
        justify-content: initial;
        margin: 7px;
        img {
          height: 90px;
        }
        &-text {
          margin: 0 30px;
        }
      }
    }
    &__cover img {
      width: 100%;
    }
    &-container {
      width: 90%;
    }
  }
  .nav-menu__about-link {
    justify-content: center;
    margin-right: 0;
  }
  .blog-principal {
    display: block;
  }
  .blog-principal__imagen img {
    max-width: 100%;
  }
  .blog-lista {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 400px) {
  .social {
    justify-content: center;
    padding-right: 0;
  }
  .article__contact-mail-text p {
    display: none;
  }
  [class^="flaticon-"]:before,
  [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after,
  [class*=" flaticon-"]:after {
    margin-left: 20px;
  }
  .main-home__titulo {
    font-size: 25px;
  }
  .nav-menu__logo img {
    width: 200px;
  }
}
